;   -- Usage -- 
;
; [monthX_timeofday]
; event_script = false  <- If true, it runs an event script instead 
;                          of using a textbox with a dialogue file.
;
; file = "story_X"  <- Set the "*.dialogue" or "Ev_*.gd" file to use.
;                      Do not include the "Ev_" or file etension.
;
; title = "monthX_timeofday"  <- The function or dialogue "~ title" to use.
;                                By default, it's the same as the category name.

[oct31_daytime]
file = "story_0"
title = "wake_amberelm"

[oct31_afternoon]
file = "story_0"

[oct31_night]
event_script = true
file = "story_0"

[nov1_morning]
event_script = true
file = "story_1"

[nov1_daytime]
event_script = true
file = "story_1"

[nov1_night]
file = "story_1"

[nov2_morning]
event_script = true
file = "story_1"

[nov2_daytime]
event_script = true
file = "story_1"

[nov3_morning]
event_script = true
file = "story_2"

[nov3_afternoon]
event_script = true
file = "story_2"

[nov3_night]
event_script = true
file = "story_2"
